# Configurações do Servidor SFTP
SFTP_HOST=sftpgo.dev.vision360.app.br
SFTP_PORT=22
SFTP_USERNAME=camera_garagem
SFTP_PASSWORD=senhaGaragem456!
SFTP_ROOT=/

# Filas AWS SQS (Inbound / Outbound)
SQS_INBOUND_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/camera-timelapse-inbound
SQS_OUTBOUND_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/camera-timelapse-outbound
SQS_VISIBILITY_TIMEOUT=1800
SQS_WAIT_TIME_SECONDS=10

# AWS S3 Storage
S3_DEFAULT_BUCKET=cameras-videos-bucket
S3_DEFAULT_PREFIX=videos/

# Credenciais e Endpoint AWS (LocalStack / AWS Cloud)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566

# Configurações do Worker
FFMPEG_PATH=ffmpeg
WORKER_CONCURRENCY=1
LOG_LEVEL=info
